<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2 class="title">Dashboard</h2><br>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-warning">
				    <div class="panel-heading">
				        <h3 class="panel-title">Job Application <span class="badge">{{numPoster}}</span></h3>
				    </div>
				    <div class="panel-body">
				    	<div ng-if="numPoster === 0"> You haven't applied for  any job yet!</div>
			        <div ng-repeat="job in jobPoster">
			        	<a ng-href="#/browse/{{job.jobId}}"> {{job.title}} </a>
			        </div>
				    </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-success">
				    <div class="panel-heading">
				        <h3 class="panel-title">Job Applications <span class="badge">{{numRunner}}</span></h3>
				    </div>
				    <div class="panel-body">
				    	<div ng-if="numRunner === 0"> You haven't applied for any jobs yet!</div>		    	
			        <div ng-repeat="job in jobRunner">
			        	<a ng-href="#/browse/{{job.jobId}}"> {{job.title}} </a>
			        </div>
				    </div>
				</div>				
			</div>
		</div>

	</div>	
</div>